/*#calcBody {
  float: left;
  margin-right: 10px;
}*/

.container {
  min-width: 440px;
}

#inputList {
  /*float: left;*/
  border: 3px solid orange;
  /*padding: 0 10px;*/
  min-height: 3em;
  max-width: 40em;
  background-color: linen;
  line-height: 1;
}

#display {
  /*display: inline-block;*/
  border: 3px solid lightskyblue;
  height: 3em;
  background-color: white;
  max-width: 40em;
  min-width: 20em;
  text-align: right;
  line-height: 1;
  /*vertical-align: middle;*/
}

#keyPanel {
  min-width: 10em;
  max-width: 20em;
}
button {
  font-family: 'courier new', monospace;
  /*width: 5em;*/
  /*height: 3em;*/
}

.active {
  border: 3px solid red;
  padding: 8px 0;
}
